/* add your CSS here */

.trading-card {
    margin-top: auto;
    width: 37%; /* Set the desired width */
    height: 100%; /* Set the desired height */
    padding-top:5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
 }
 .italic-paragraph{
    font-style: italic;
    font-size: medium;
    


 }
 .trading-card img{

    padding-bottom:10px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width:85%;height:35%;
 }
 .list-style-type{
  list-style-type: none;
 }
  .trading-card-info{
    
    width: 90%;
    height:50%;
    margin-left: 25px;
    /* justify-content: center; */
    padding-top: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  